html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

:root {
  --rich-black: #0d1b2aff;
  --dark-blue: #1b263bff;
  --shadow-blue: #415a77ff;
  --light-blue: #bdd5ea;
  --light-gray: #e0e1ddff;
  --blue-button: #386fa4;
}

.login-background {
  background: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.light-grey {
  background-color: var(--light-gray);
}

.shadow-blue {
  background-color: var(--shadow-blue);
}

.light-blue {
  background-color: var(--light-blue);
}

.dark-blue-text {
  color: var(--dark-blue);
}

.dark-blue {
  color: var(--dark-blue);
}

.rich-black {
  background-color: var(--rich-black);
}

.blue-button {
  background-color: var(--blue-button);
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

/* Cellular */
@media (min-width: 320px) and (max-width: 480px) {
  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}